/* html>* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f6fa;
} */


/* h2 {
    font-size: 30px;
    padding-left: 50px;
} */


/* .vacio {
    border: solid 2px red;
    border-radius: 3px;
} */


/* a:hover {
    background-color: #92b7ee;
    color: black;
    transition: 0.5s;
} */


/* 
img {
    height: 55px;
} */


/* .links-nav {
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e90ff;
    height: 100%;
    width: 100%;
} */


/* label {
    display: inline-block;
    width: 250px;
    height: 30px;
} */


/* .formulario div input,
select {
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 30px;
    font-size: 18px;
    padding: 0;
    margin: 0;
    border: 0.5;
} */


/* #txt-foto {
    width: fit-content;
} */


/* main {
    margin: 0 50px;
} */


/* h1 {
    font-weight: bold;
    font-size: 40px;
} */


/* 
.formulario {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-around;
    font-size: 22px;
} */


/* button:hover {
    background-color: #92b7ee;
    color: black;
    border-radius: 3px;
    font-weight: bold;
    font-size: 19px;
    transition: 0.5s;
} */


/* button {
    height: 45px;
    width: 140px;
    color: white;
    background-color: #1e90ff;
    font-size: 19px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
} */


/* 
.main-principal-registro {
    display: flex;
    flex-direction: row;
} */


/* #tbl-fecha td {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 375%;
} */


/* #tbl-fecha p {
    padding-left: 20%;
} */


/* #tbl-info {
    padding: 25px;
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
} */


/* #tbl-info thead tr {
    background-color: #1e90ff;
    color: #ffffff;
    text-align: center;
}

#tbl-info th,
#tbl-info td {
    padding: 6px 15px;
    justify-content: center;
}

#tbl-info tbody tr {
    border-bottom: 1px solid #dddddd;
}

#tbl-info tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#tbl-info tbody tr:last-of-type {
    border: 0.5px solid black;
    border-left: 0.5px solid black;
    border-bottom: 1px solid;
}

#tbl-info tbody tr.active-row {
    font-weight: bold;
}

#tbl-dias {
    border-collapse: collapse;
    margin: 45px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: relative;
    padding-right: 25;
}

#tbl-dias thead tr {
    background-color: #607EAA;
    color: #ffffff;
    text-align: left;
}

#tbl-dias th,
#tbl-dias td {
    padding: 12px 45px;
}

#tbl-dias tbody tr {
    border-bottom: 1px solid #dddddd;
}

#tbl-dias tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#tbl-dias tbody tr:last-of-type {
    border: 0.5px solid black;
    border-left: 0.5px solid black;
    border-bottom: 1px solid;
}

#tbl-dias tbody tr.active-row {
    font-weight: bold;
} */


/* #fecha-actual {
    flex-direction: row;
    display: flex;
    text-align: left;
    justify-content: flex-end;
} */


/* h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 40px;
} */


/* .links-nav {
    height: 55px;
    background-color: #1c3879;
    border-radius: 5px;
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-size: 16px;
    color: white;
    width: 80%;
    font-weight: bold;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
} */


/* body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    margin-top: 40px;
} */


/* .formulario {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    align-items: center;
} */


/* .vacio {
    border: solid 2px red;
    border-radius: 3px;
} */


/* .txt-planes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */


/* #h3 {
    justify-content: center;
    align-items: center;
} */