html>* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: #f5f6fa;
}

.vacio {
    border: solid 2px red;
    border-radius: 3px;
}

.navbar {
    background-color: #1e90ff;
}

.nav-link {
    color: #f5f6fa !important;
    font-size: 20px;
}

a:hover {
    background-color: #92b7ee;
    color: black;
    transition: 0.5s;
}

img {
    height: 55px;
}

.links-nav {
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e90ff;
    height: 100%;
    width: 100%;
}

label {
    display: inline-block;
    width: 250px;
    height: 30px;
}

.formulario div input,
select {
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 30px;
    font-size: 18px;
    padding: 0;
    margin: 0;
    border: 0.5;
}

main {
    margin: 0 50px;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

.formulario {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 50%;
    justify-content: space-around;
    font-size: 22px;
}

button:hover {
    background-color: #ef8121;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    font-weight: bold;
    font-size: 19px;
    transition: 0.5s;
}

button {
    height: 45px;
    width: 140px;
    color: white;
    background-color: #92b7ee;
    font-size: 19px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
}


/* Logros */

.contenedor {
    display: flex;
    flex-wrap: nowrap;
    height: 500px;
    width: 100%;
    font-size: 22px;
    padding-bottom: 30px;
}

.izq {
    flex-basis: 40%;
}

.title {
    padding-bottom: 40px;
    padding-top: 20px;
    text-align: center;
}

.tabla-Logros {
    margin-left: auto;
    margin-right: auto;
}

.espaciado {
    padding-bottom: 20px;
}

table,
th,
td {
    border: 1px solid;
    background-color: white;
}

table {
    width: 80%;
}

th {
    font-size: 19px;
    height: 50px;
    padding: 15px;
}

td {
    padding: 15px;
    text-align: center;
    height: 10px;
    vertical-align: center;
}

td:hover {
    background-color: rgb(239, 157, 128);
}

.columnas {
    display: flex;
    flex-direction: column;
    height: 490px;
    justify-content: space-around;
    font-size: 22px;
}

.orden {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boton {
    text-align: center;
    padding-bottom: 20px;
}


/* Logros */