html>* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: #f5f6fa;
}

.vacio {
    border: solid 2px red;
    border-radius: 3px;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    background-color: #1e90ff;
}

a:hover {
    background-color: #92b7ee;
    color: black;
    transition: 0.5s;
}

img {
    height: 50px;
}

.navbar {
    background-color: #1e90ff;
}

.nav-link {
    color: #f5f6fa !important;
    font-size: 20px;
}

.links-nav {
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e90ff;
    height: 100%;
    width: 100%;
}

label {
    display: inline-block;
    width: 250px;
    height: 30px;
}

.formulario div input,
select {
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 30px;
    font-size: 18px;
    padding: 0;
    margin: 0;
    border: 0.5;
}

#txt-foto {
    width: fit-content;
}

main {
    margin: 0 50px;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-weight: bold;
    font-size: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-around;
    font-size: 22px;
}

button:hover {
    background-color: #92b7ee;
    color: black;
    border-radius: 3px;
    font-weight: bold;
    font-size: 19px;
    transition: 0.5s;
}

button {
    height: 45px;
    width: 170px;
    color: white;
    background-color: #1e90ff;
    font-size: 19px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
}

.main-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

.logo-principal {
    height: 200px;
    width: 200px;
}


/* Clasificacion */

.Obesidad-3 {
    background: #eb5a5f;
}

.Obesidad-2d {
    background: #ff9252;
}

.Obesidad-1 {
    background: #fea851;
}

.Sobrepeso {
    background: #fbc531;
}

.Peso-normal {
    background: #4cd137;
}

.Peso-bajo {
    background: #00a8ff;
}


/* Estilos pagina registro de pesos */

.titulos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 75px;
    font-size: 22px;
    padding-top: 28px;
}

.registro-pesos {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 50%;
    justify-content: space-around;
    font-size: 22px;
    padding-bottom: 2%;
}

.imc-clasificacion {
    display: flex;
    justify-content: space-around;
    padding-top: 75px;
    width: 100%;
    font-size: 28px;
}

table,
th,
td {
    width: 50%;
    height: 45%;
    border: solid #1c3879;
    border-collapse: collapse;
}

.grafica {
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 50%;
    justify-content: right;
    font-size: 22px;
    margin-top: 5%;
}