/* Estilos principales */

html>* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f6fa;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    background-color: #1e90ff;
}

a:hover {
    background-color: #92b7ee;
    color: black;
    transition: 0.5s;
}

img {
    height: 55px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

.links-nav {
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e90ff;
    height: 100%;
    width: 100%;
}

.formulario div input,
select {
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 30px;
    font-size: 18px;
    padding: 0;
    margin: 0;
    border: 0.5;
}

#txt-foto {
    width: fit-content;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}


/* FIN ESTILOS GENERALES */


/* Boton de registro de recetas*/

button:hover {
    background-color: #ef8121;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    font-weight: bold;
    font-size: 19px;
    transition: 0.5s;
}

button {
    height: 45px;
    width: 200px;
    color: white;
    background-color: #92b7ee;
    font-size: 19px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
}


/* FINAL DEL BOTON DE REGISTRO */


/* Validacion de casillas vacias: */

.vacio {
    border: solid 2px red;
    border-radius: 3px;
}


/* FINAL VALIDACION*/


/* SECCION PRINCIPAL */

main {
    margin: 0 50px;
}

#title-regis-recipe {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 50%;
    justify-content: space-around;
    font-size: 22px;
}

#file-foto-receta {
    width: fit-content;
}

#menu-pt-1 {
    width: 1650px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#menu-pt-2 {
    width: 1650px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#boton-registro {
    margin: 20px;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* FIN SECCION PRINCIPAL */